[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
falcon = "*"
gunicorn = "*"
coveralls = "*"
pyjsend = "*"
sentry-sdk = "*"
pytest = "*"
pytest-cov = "*"
screendoor-sdk = {git = "https://github.com/SFDigitalServices/screendoor-sdk-py.git",ref = "0.2.2"}

[requires]
python_version = "3.7"
